/*BASIC BODY*/
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster", cursive;
  /* font-family: "Sacramento", cursive; */
}

header {
  background: url(images/cover1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/* NAVIGATION BAR */
.nav_container {
  font-size: 3rem;
  color: white;
}
#Logo {
  padding: 2rem;
}
nav {
  min-height: 5vh;
  max-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
li {
  padding: 2rem;
}
a {
  text-decoration: none;
  color: white;
  margin-left: auto;
}
nav > ul {
  list-style: none;
  display: flex;
}

/* COVER CONTENT */
.cover_container {
  color: white;
  font-size: 4rem;
  font-family: "Sacramento", cursive;
  padding: 0rem 0rem 3rem 8rem;
}

/* FOR MOBILE PHONE SCREEN ALL ATRIBUTES CHANGES HERE */

@media only screen and (max-width: 800px) {
  nav {
    color: rgb(0, 255, 106);
    min-height: 4vh;
    margin: 0;
  }
  #Logo {
    font-size: 1.2rem;
    padding: 1rem;
  }
  li {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
  .cover_container {
    font-size: 3rem;
    padding: 2rem 0rem 0rem 1rem;
  }
  #cover_pic h3 {
    font-size: 2.5rem;
  }
  #cover_pic h1 {
    text-align: center;
  }
  #cover_pic h2 {
    padding: 2rem 0 0 0;
    font-size: 4rem;
  }
}

/* FOR MOBILE PHONE SCREEN ALL ATRIBUTES CHANGES HERE */
